* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cardHeader {
  width: 90%;
  height: 80vh;
  flex-wrap: wrap;
}
.cardHeader, .header {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  min-height: 100vh;
  background: #09090b;
  align-items: center;
  justify-content: center;
}
.cardImage{
  border: 5px solid #101015;
}
.cardImage:nth-child(6n - 5) {
  height: 25%;
}
.cardImage:nth-child(6n - 4) {
  height: 75%;
}
.cardImage:nth-child(6n - 3) {
  height: 50%;
}
.cardImage:nth-child(6n - 2) {
  height: 50%;
}
.cardImage:nth-child(6n - 1) {
  height: 66.66%;
}
.cardImage:nth-child(6n) {
  height: 33.33%;
}
button {
  border: none;
  outline: none;
  padding: 10px 0;
  width: 110px;
  margin: 0 10px;
  background: #414480;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
